.content {
  padding: 20px;
  margin-top: 30px;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

ion-card .checkbox, .task-title {
  font-size: 25px;
}

ion-checkbox {
  --checkbox-background-checked: #446ae7;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #446ae7;
}

ion-icon {
  color: #446ae7;
}

.container-create-task {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.container-modal {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.container-modal h1 {
  font-weight: bold;
}

.container input {
  border: 1px solid black;
  border-radius: 8px;
  height: 40px;
  padding: 10px;
}

.container button {
  margin-top: 15px;
  height: 35px;
  font-size: 20px;
  border: 1px solid #446ae7;
  border-radius: 8px;
  background-color: #446ae7;
  color: #FFF;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}