<div class="container">
  <ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <h1>Today's tasks</h1>

    <div>
      <app-task-list></app-task-list>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="setOpenModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-modal [isModalOpen]="isModalOpen" [setCloseModal]="setCloseModal">
    <div class="container-modal">
      <h1>Adicione sua tarefa</h1>
      <input 
      type="text" 
      placeholder="Digite sua tarefa" 
      [(ngModel)]="titleValueInput"
      />
      <button (click)="createTask()">Adicionar</button>
    </div>
  </app-modal>
</div>
